{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >


    <title>Learning Log</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>

<body>
    <nav class=" navbar navbar-expand-md navbar-light bg-secondary  mb-2 boarder">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarCollapse">
            <div class="container  ">

                <a class="navbar-brand text-light" href="{% url 'learning_logs:index' %}">
                    <img src="/media/logo.png" alt="Logo" width="70" height="64" class="d-inline-block align-text-middle">
                    Learning Log
                </a>
            </div>

            <div class="container justify-content-center ">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'learning_logs:topics'%}">
                            Topics
                        </a>
                    </li>

                    {% if user.is_authenticated %}
                    <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'users:profile' %}">
                                Hello, {{ user.username }}
                            </a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link text-light" href="{% url 'users:profile' %}">
                                Profile
                            </a>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'users:register' %}">
                            Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'users:login' %}">
                            Log in
                        </a>
                    </li>
                    {% endif %}
            </ul>
            </div>

            <div class="container justify-content-end">
                {% if user.is_authenticated %}
                <form action="{% url 'users:logout' %}" method='post'>
                    {% csrf_token %}
                    <button name='submit' class='btn btn-outline-light btn-sm'>
                        Log out
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>

    <main role="main" class="container-fluid">
        <div class="pb-2 mb-2 border-bottom">
            {% block page_header %}{% endblock page_header %}
        </div>
        <div>
            {% block content%}{% endblock content%}
        </div>

    </main>

</body>

</html>


