{% extends "learning_logs/base.html" %}

{%  block page_header %}

<h3>Topic: {{ topic }}</h3>

{% endblock page_header %}

{% block content %}

<h6>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add a new entry</a>
</h6>

<div class="container py-5 custom-bg">

    <style>
        .custom-bg {
        background-color: #cfd3d8;
        }
    </style>
<ul>
    {% for entry in entries %}
    <div class="card mb-3 container-fluid">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ entry.ex_data.url }}" alt="..." class="card-img-top ">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ entry.date_added|date:'M d, Y H:i' }}</h5>
                    <p class="card-text">{{ entry.text|linebreaks }}</p>
                    <p class="card-text">
                        <small class="text-muted">
                            <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit this entry</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% empty %}
    <p>
        There are no entries for this topic yet.
    </p>
    {% endfor %}
</ul>
</div>

{% endblock content %}