{% extends "learning_logs/base.html" %}

{% load bootstrap4 %}
{% block page_header %}

<h2>
    Editing your profile
</h2>

{% endblock page_header %}

{% block content %}

<form method="post" action="{% url 'users:edit_profile' %}" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {% bootstrap_form u_form %}
    {% bootstrap_form p_form %}
    {% buttons %}
    <button name="submit" class="btn btn-primary">
        Save changes
    </button>
    {% endbuttons %}

    <input type="hidden" name="next" value="{% url 'users:profile' %}">

</form>


{% endblock content %}